.step {
  color: $primary;
  font-size: 6.25rem;
  line-height: 1;
}

.center-absolute {
  position: absolute;
  top: 0;
  left: 250px;
}

.font-weight-semibold {
  font-weight: 500;
}

.info {
  color: $white;
  font-size: 30px;
  line-height: 36px;
  max-width: 458px;
}

.traces-container {
  right: 525px;
  bottom: 0;
  z-index: 1;
}

.traces-around-container {
  position: absolute;
  left: 375px;
  top: -80px;
}

.step-padding {
  margin-bottom: 12.5rem;
}

.step-margin {
  margin-bottom: 6.25rem;
}

.text {
  right: 0;
  color: $black;
  font-size: 30px;
}
.text-shadow{
  text-shadow: 1px 1px 1px $black;
}
@include media-breakpoint-down(md) {
  .step-padding {
    margin-bottom: 9.2rem;
  }
  .info {
    max-width: 332px;
    font-size: 22px;
  }
}

@include media-breakpoint-down(sm) {
  .step-padding {
    margin-bottom: 2rem;
  }
  .center-absolute {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
  }
  .info {
    text-align: center;
    max-width: 346px;
    font-size: 20px;
  }
  .step{
    font-size: 5.2rem;
  }
}
